<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content="{{ eleventy.generator }}" />
<title>{{ name }} | {{ site.name }}</title>
<meta name="description" content="{{ description | default(pkg.description) }}" />
